.innerBorder {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

BODY {
  background-color: transparent;
  color: white;
  font-family: helvetica, sans-serif;
  }

#chart {
  margin-bottom: 1.5em;
  text-align: center;
  }

#container {
  .innerBorder;

  border: 2px solid rgb(52, 52, 52);
  margin: 1em;
  padding: 1em;
  padding-top: .8em;
  width: 288px;
  }

#query {
  font-size: 1.6em;
  font-weight: lighter;
  line-height: 1.1em;
  margin-bottom: 0.75em;
  }

#legend {
  margin-top: 1em;
  }

.legend {
  font-size: 1.2em;
  margin-top: 5px;

  .box {
    float: left;
    height: 1em;
    width: 1em;
    }

  .label {
    float: left;
    font-family: helvetica;
    font-weight: 500;
    margin-left: 0.5em;
    }
  }

.face {
  background-color: LightGray;
  float: left;
  height: 45px;
  margin: 0 5px 5px 0;
  width: 45px;

  IMG {
    float: left;
    height: 45px;
    width: 45px;
    }
  }